 .registerclient-form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas */
  gap: 8px 12px; 
 width: 100%;
    padding: 0 25px;
 
}

/* Inputs o botones que deben ocupar todo el ancho */
.registerclient-form .full-width {
  grid-column: span 2;
  width: 100%;
}

  .registerclient-form .box {
    margin: 6px 0; /
  }


.login-section{
position: relative;;
width: 850px;
height: 550px;
background-color: #FFF5E4;
border-radius: 30px;
box-shadow: 0 0 30px #FFA725;
overflow: hidden;} 


.login-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #333;
    text-align: center;
    z-index: 1;
}



.login-box h1 {
   font-size: 32px;
   margin: 40px 0 25px;
   font-weight: 700;

}
.box {
    position: relative;
    margin: 25px 0;
}
    .form-label {
  display: block;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  color: #444;
  text-align: left; /* Para que quede alineado con el input */
}
.form-control, .inputClass {
    width: 100%;
    padding: 13px 45px 13px 15px;
    background-color: #FFF5E4;
    border-radius: 8px;
    border: none; /*duda si agrego borde o no*/
    outline: none;
    font-size: 12px;
    color:#333;
    text-align: left;
    font-weight: 500;
  
}

.inputClass::placeholder {
    color: #777676;
    font-weight: 400;
    font-size: 0.8rem;
}



.login-section p {
    margin: 15px 0;;
    font-size: 15px;
    font-weight: 500;
    color: #333;
}



.side-panel{
    position: absolute;
   width: 100%;
   height: 100%;
}


.side-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #FED16A;
   display: flex;
   color: #FFF5E4;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 0 40px;
    z-index: 2;
    transition: .6s ease-in-out;
}



.side-panel h2,
.side-panel h3,
.side-panel p {
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}
.registerclient-form input,
.registerclient-form select {
  font-size: 0.9rem;   /* más chico que el default (1rem ≈ 16px) */
  padding: 0.5rem;     /* opcional: ajusta el padding para que no se vean desproporcionados */}

  
  



/* Responsive */
@media (max-width: 768px) {
  .login-section {
    flex-direction: column;       /* apila panel e inputs */
    width: 95%;                   /* ocupa casi todo el ancho */
    height: auto;                 /* deja que crezca según contenido */
    border-radius: 20px;          /* esquinas más suaves */
    overflow: hidden;
  }



.login-box {
  position: static; 
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
    padding: 10px;
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
  align-items: center; }

.registerclient-form {
    grid-template-columns: 1fr; /* solo 1 columna */
  }

  .registerclient-form .full-width {
    grid-column: span 1; /* ocupa toda la fila en 1 columna */
  }
 

  .side-panel {
    position: static;  
    width: 100%;
    position: static;  
    padding: 20px;
    order:1;
    text-align: center;
  }
  }

  