@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.btn-custom {
   display: inline-block;  /* o inline-flex si querés centrar iconos dentro */
  padding: 0.4rem 0.8rem; 
   align-items: center;
  justify-content: center;/* opcional, solo un poco de espacio */
  width: auto;   
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  text-align: center;
  margin: 10px;
}

/* Variante gradiente */
.btn-custom.gradient {
  background: linear-gradient(135deg, #ffa602 0%, #e37e19 100%);
  color: #333;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.btn-custom.gradient:hover {
  background: linear-gradient(135deg, beige 0%, lemonchiffon 100% );
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  color: orange;
  border: solid #ffa602;
}

/* Variante glass */
.btn-custom.dark {
 background: linear-gradient(135deg, beige 0%, lemonchiffon 100%);
  color: #333;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.btn-custom.dark:hover {
 background: linear-gradient(135deg, 0%, #e37e19 #ffcc70  100%);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  color: #333;
}

/* Tamaños */
.btn-custom.sm {
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
}

/* .btn-custom.md {
   float: none;
  display: block;
  justify-content: center;
   text-align: center;
  width: 80%;
  height: 45px;
  margin: 0 auto;
    cursor: pointer;
} */

.btn-custom {
  display: inline-block;   /* se adapta al contenido */
  width: auto;             /* ancho automático según el texto */
  padding: 0.5rem 1.2rem;  /* espacio interno para que no quede apretado */
  text-align: center;
  cursor: pointer;
}


.btn-custom.lg {
  padding: 0.5rem 1.6rem;

  font-size: 1rem;
}

.btn-custom.full-width {
  display: block;      /* ocupa toda la línea */
  width: 100%;         /* se estira al contenedor */
  text-align: center;  /* centra el texto */
}
