@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.app-footer {
  background: linear-gradient(120deg, #ffcc70, #e37e19);
  padding: 0;
  gap: 0.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.15);
  font-family: 'poppins', sans-serif;
  text-align: center;
  color: #333446;
  font-size: 14px;
  box-shadow: 10px -2px 10px rgba(0,0,0,0.15);
   margin-top: auto;
}

.footer-separator {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-info {
  padding-top: 10px;
font-family: poppins;
}
.footer-icons h6 {
    padding-top: 15px;
font-family: poppins;
font-size: 1.5em;
font-weight: 600;
}


.footer-icons ul {
  
  padding: 0;
  display: flex;
  justify-content: center;
    gap: 30px;
    list-style: none;
  }
 .footer-icon {
    position: relative;
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: lemonchiffon;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
 overflow: hidden;
}
.footer-icon a {
display:  flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
border-radius: 50%;
    color: #e37e19;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
  }
   
  .footer-icon:hover a{
    transform: translateY(-5px);

    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  }

  .footer-icon:hover a {
    color: #ffcc70;
   text-shadow: 0 0 5px lightcyan;
  }
  .footer-icon:active {
    transform: scale(0.95);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }